<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Areliann</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-violet" id="nav">
    <a class="navbar-brand d" href="#">Areliann</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#second">Biographie <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#third">GTA V</a>
            <a class="nav-item nav-link" href="#fourth">Youtube</a>
            <a class="nav-item nav-link" href="#fifth">Instagram</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<section id="first">
    <div class="d-flex justify-content-center">
        <div id="accueil" class="slide-in-left">
            <h1 class="text-center font-weight-bold p-3 titre">Bienvenue</h1>
            <a href="{{ path('app_login') }}"><img class="align-center are" src="{{ asset('images/Are_grand.jpg') }}"></a>
        </div>
    </div>
</section>
{% endblock %}
{% block bio %}
<section class="bg-bleu" id="second">
    <h1 class="text-center font-weight-bold titre2 invisible h12 mt-4" id="titreBio">A propos de moi</h1>
    <div class="row justify-content-center align-items-center mx-4">
        <div class="col-lg-5 col-md-5 col-sm-12 invisible" id="col1Bio">
            <p>
                Vivamus suscipit quis quam at pellentesque. Maecenas sed ex id diam varius congue. Curabitur eu lacus arcu.
                Donec et consequat neque. Vivamus sit amet metus a nisl eleifend rhoncus vitae quis mauris. Duis eget magna ut lectus egestas tincidunt.
                Pellentesque lectus orci, hendrerit eget consequat at, volutpat sed velit. Sed eget eros orci.
                Maecenas vestibulum dictum sapien, a ornare lectus finibus et. Ut sollicitudin bibendum erat, eget ultricies nibh ornare at.
                Sed eget massa sed dui vulputate consequat.
                <img class="image p-2" src="{{ asset('images/gtaV.png') }}">
                Aliquam tincidunt justo non neque semper, vel auctor lacus euismod. In eget arcu eget libero tincidunt bibendum.
                Aenean ut est sem. Mauris a interdum lacus. Integer ultrices eu arcu et gravida. Ut rhoncus lobortis leo, vitae congue lorem vestibulum vitae.
                Vestibulum finibus venenatis tortor nec rhoncus. Sed id consectetur turpis.
            </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 invisible" id="col2Bio">
            Duis vulputate arcu et metus vestibulum dictum. Aenean hendrerit dignissim magna, id laoreet ex feugiat vitae.
            Donec pretium est quis iaculis vestibulum. Quisque tristique arcu at augue auctor consequat. Cras posuere vel nibh id lacinia.
            Donec lacinia euismod condimentum. Mauris ut nibh sed orci dictum ultricies.

            Aliquam quis convallis velit. Cras accumsan, metus nec mattis dictum, nulla tellus efficitur nisi, non vestibulum nisl velit iaculis odio.
            Fusce luctus, ante in placerat euismod, risus ex venenatis eros, vel cursus orci nisl feugiat lacus.
            Aenean convallis congue sem fringilla imperdiet. Aenean iaculis fermentum imperdiet. Curabitur purus purus, molestie ut libero a, efficitur laoreet ex.
            Sed in suscipit orci, quis condimentum massa. Suspendisse sed ipsum a sapien efficitur tincidunt a mollis lorem.
            Etiam elementum arcu malesuada, pellentesque diam at, fringilla risus. Fusce id scelerisque erat.
            Pellentesque eu nibh sit amet risus iaculis maximus sed et magna. Curabitur scelerisque sit amet purus vulputate fringilla.

            Duis laoreet vestibulum augue. Curabitur vitae dui a felis elementum porttitor ut eu felis.
            Ut pharetra fringilla justo nec blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Proin laoreet nulla id est volutpat, non vulputate sem lacinia. Mauris pulvinar augue at ipsum consequat, quis tristique nulla fringilla.
            Duis sit amet rutrum neque. Ut felis felis, gravida ac scelerisque porta, euismod luctus odio.
            Nulla laoreet egestas quam eu molestie. Suspendisse vel pretium neque. Phasellus accumsan malesuada aliquet.
            Praesent volutpat lacus vel quam ullamcorper efficitur. Cras vestibulum finibus quam, posuere hendrerit odio auctor eget.
            Sed ut bibendum ligula, id rutrum tortor. Nam vitae auctor augue.
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block g2a %}
<section class="d-flex flex-column justify-content-center" id="sixth">
    <div><a href="http://g2a.com/?gname=areliann"><h1 class="text-center mt-2 invisible" id="g2a"><img src="{{ asset('images/partnerG2a.jpg') }}" class="imageG2a"></h1></a></div>
    <div><h1 class="text-center mt-3 font-weight-bold invisible" id="lien">Si vous voulez me soutenir en achetant vos jeux achetez les sur G2A avec <a href="http://g2a.com/?gname=areliann">ce lien</a></h1></div>
</section>
    <hr class="bg-violet w-75 mt-0">
{% endblock %}
{% block Arozzi %}
    <section class="d-flex flex-column justify-content-center" id="eight">
        <div><a href="https://arozzi.se/?lang=fr"><h1 class="text-center" id="Arozzi"><img src="{{ asset('images/Arozzi.png') }}" class="imageG2a"></h1></a></div>
        <div><h1 class="text-center mt-3 font-weight-bold" id="lienA">Je suis en partenariat avec Arozzi, si vous voulez profiter de chaise de bureau, bureau etc vous avez -10% avec le code <a href="https://arozzi.se/?lang=fr"><span class="text-success">areliann</span></a></h1></div>
    </section>
{% endblock %}
{% block gta %}
<section class="bg-bleu" id="third">
    <h1 class="h12 text-center invisible" id="gta">GTA<img  class="minia" src="{{ asset('images/logo_gtav.png') }}"></h1>
    <div class="row justify-content-center align-items-center mx-4">
        <div class="col-lg-5 col-md-5 col-sm-12 invisible" id="col1gta">
            <p>
                Vivamus suscipit quis quam at pellentesque. Maecenas sed ex id diam varius congue. Curabitur eu lacus arcu.
                Donec et consequat neque. Vivamus sit amet metus a nisl eleifend rhoncus vitae quis mauris. Duis eget magna ut lectus egestas tincidunt.
                Pellentesque lectus orci, hendrerit eget consequat at, volutpat sed velit. Sed eget eros orci.
                Maecenas vestibulum dictum sapien, a ornare lectus finibus et. Ut sollicitudin bibendum erat, eget ultricies nibh ornare at.
                Sed eget massa sed dui vulputate consequat.
                <img class="image p-2" src="{{ asset('images/gtaV.png') }}">
                Aliquam tincidunt justo non neque semper, vel auctor lacus euismod. In eget arcu eget libero tincidunt bibendum.
                Aenean ut est sem. Mauris a interdum lacus. Integer ultrices eu arcu et gravida. Ut rhoncus lobortis leo, vitae congue lorem vestibulum vitae.
                Vestibulum finibus venenatis tortor nec rhoncus. Sed id consectetur turpis.
            </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 invisible" id="col2gta">
            Duis vulputate arcu et metus vestibulum dictum. Aenean hendrerit dignissim magna, id laoreet ex feugiat vitae.
            Donec pretium est quis iaculis vestibulum. Quisque tristique arcu at augue auctor consequat. Cras posuere vel nibh id lacinia.
            Donec lacinia euismod condimentum. Mauris ut nibh sed orci dictum ultricies.

            Aliquam quis convallis velit. Cras accumsan, metus nec mattis dictum, nulla tellus efficitur nisi, non vestibulum nisl velit iaculis odio.
            Fusce luctus, ante in placerat euismod, risus ex venenatis eros, vel cursus orci nisl feugiat lacus.
            Aenean convallis congue sem fringilla imperdiet. Aenean iaculis fermentum imperdiet. Curabitur purus purus, molestie ut libero a, efficitur laoreet ex.
            Sed in suscipit orci, quis condimentum massa. Suspendisse sed ipsum a sapien efficitur tincidunt a mollis lorem.
            Etiam elementum arcu malesuada, pellentesque diam at, fringilla risus. Fusce id scelerisque erat.
            Pellentesque eu nibh sit amet risus iaculis maximus sed et magna. Curabitur scelerisque sit amet purus vulputate fringilla.

            Duis laoreet vestibulum augue. Curabitur vitae dui a felis elementum porttitor ut eu felis.
            Ut pharetra fringilla justo nec blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Proin laoreet nulla id est volutpat, non vulputate sem lacinia. Mauris pulvinar augue at ipsum consequat, quis tristique nulla fringilla.
            Duis sit amet rutrum neque. Ut felis felis, gravida ac scelerisque porta, euismod luctus odio.
            Nulla laoreet egestas quam eu molestie. Suspendisse vel pretium neque. Phasellus accumsan malesuada aliquet.
            Praesent volutpat lacus vel quam ullamcorper efficitur. Cras vestibulum finibus quam, posuere hendrerit odio auctor eget.
            Sed ut bibendum ligula, id rutrum tortor. Nam vitae auctor augue.
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block ytb %}
<section id="fourth">
    <!--<h1 class="text-center h12 pb-0" id="ytb"><img src="{{ asset('images/YTB.png') }}" class="minia2"></h1>
    <div class="row text-center margeL" id="ytbligne">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-9e5dc2f8-f0ae-4110-9d38-082660d52b37"></div>
    </div>-->

</section>
{% endblock %}
{% block insta %}
<section class="bg-bleu" id="fifth">
    <h1 class="text-center h12 pb-3"><img src="{{ asset('images/Insta.png') }}" class="minia2 invisible" id="insta"></h1>
    <div class="row d-block margeL mb-5" id="instaligne">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-ff23eac8-27c1-4e0b-b4a1-0637a5ed2164"></div>
    </div>
</section>
{% endblock %}
{% block contact %}
{% endblock %}
{% block footer %}
<footer class="footer" id="footer">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-around">
            <div><a href="#sixth" class="p-4"><img src="{{ asset('images/g2a.png') }}" class="minia"></a></div>
            <div><a href="#eight" class="pl-2"><img src="{{ asset('images/Arozzi.png') }}" class="minia2"></a></div>
        </div>
        <div class="container my-auto">
            <div class="text-center my-auto copyright text-light"><span>Copyright © Areliann 2020</span></div>
        </div>
        <a href="#seventh" class="p-5 text-light"><h3>Contact</h3></a>
    </div>

</footer>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    