{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block header %}{% endblock %}
{% block men_or_women %}{% endblock %}
{% block product_care %}{% endblock %}
{% block body %}
<h1 class="align-center mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1 ">My cart</h1>
    <table class=" mx-auto table-auto mx-4 my-2">
    <thead>
        <tr>
            <th class="border border-gray-600 px-4 py-2 text-gray-800">Name</th>
            <th class="border border-gray-600 px-4 py-2 text-gray-800">Price</th>
            <th class="border border-gray-600 px-4 py-2 text-gray-800">Mount</th>
            <th class="border border-gray-600 px-4 py-2 text-gray-800">Total</th>
            <th class="border border-gray-600 px-4 py-2 text-gray-800">Action</th>
        </tr>
    </thead>
    <tbody>
    {% if panier is empty %}
    <tr>
        <td colspan="5" class="align-center px-4 py-4">Your cart is empty</td>
    </tr>
    {% else %}
    {% set prixTotal =0 %}
        {% for pan in panier %}
          {% set prixTotal= prixTotal +(pan.quantityProductOrder * pan.priceProductOrder) %}
        <tr class="bg-gray-400">
            <td class="align-center border border-gray-600 px-4 py-2">{{ pan.nameProductOrder }}</td>
            <td class="align-center border border-gray-600 px-4 py-2">{{ pan.priceProductOrder }} €</td>
            <td class="align-center border border-gray-600 px-4 py-2">{{ pan.quantityProductOrder }}</td>
            <td class="align-center border border-gray-600 px-4 py-2">{{ pan.quantityProductOrder * pan.priceProductOrder }} €</td>
            <td class="align-center border border-gray-600 px-4 py-2"><a href="{{path('panier_delete',{id: pan.id})}}"><button type="button" class="btn">Delete</button></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <th class="align-center px-4 py-4">Total cost</th>
            <th class="align-center px-4 py-4">{{ prixTotal }} €</th>
        </tr>
    {% endif %}
    </tbody>
</table>
    <div class="align-center">
    {% if panier is not empty %}
        <a href="{{ path('liv_address_new') }}"><button class="btn btn-black">Continue Order</button></a>
    {% endif %}
        <a href="{{ path('home') }}"><button class="btn">Back home</button></a>
    </div>
{% endblock %}
