{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}

    <section class="header1 cid-s0bsc2KgEB" id="header01-1">


        <div class="container-fluid mbr-white">
            {{ form_start(registrationForm,{'attr': {'action-xhr' :'#'}}) }}
            <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">Register</h1>
            <div class="mbr-row">
                <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}



                        {{ form_row(registrationForm.firstNameUser) }}
                        {{ form_row(registrationForm.lastNameUser) }}
                        {{ form_row(registrationForm.telUser) }}
                        {{ form_row(registrationForm.civUser) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                </div>
                <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                        {{ form_row(registrationForm.address) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn">Register</button>
                        {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

